@media screen and (max-width: 600px) {
  .bio{
    margin-left: -5%;
    padding-right: -5%;
}
}

.container-fluid{
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a { color: rgb(99, 233, 233); }

.bio {
  margin-left: 5%;
  padding-right: 5%;
  border-right: 1px inset;
  border-color: rgb(99, 233, 233);
}

.bio .panel-title{
  font-style: italic;
  text-align: center;
  margin-bottom: 8%;
  color: rgb(99, 233, 233);
}

.bio img{
  width: 25%;
  border-radius: 50%;
  float: right;
}

.bio .panel-body{
  font-size: small;
  font-style: oblique;
}

.bio h5{
  font-weight: bold;
}

.bio p{
  margin-top: 10%;
}

.work hr{
  border-color: rgb(156, 235, 235);
}

.work h5, h6{
  font-weight: bold;
}

.work .panel-title{
  font-style: oblique;
}

.work ol{
  float: inline-start;
}