.container{
  margin-top: 4%;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}
.bio {
  margin-left: 20%;
}
.bio p{
  margin-top: 10%;
}
.bio .panel-title{
  margin-bottom: 8%;
  color: rgb(99, 233, 233);
}
.work{
  margin-left: 10%;
}
.work hr{
  color: azure;
}

img{
  height: 40%;
  width: 40%;
  border-radius: 50%;
  margin-left: 6%;
}